body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs/background.svg");
  background-repeat: repeat;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

li:hover .st0, li:hover a{
  color: #111;
  fill: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}
.logo{
  width: 140px;
  height: 120px;
}
.st1{
  display: none;
}
h3{
  color:#BA8058;
}
.nav-img{
  width: 15px;
  height: 15px;
}
.nav-img .st0{
  fill: #39add1;
}
.corgi{
  width: 200px;
  height: 180px;
}
.corgis{
  display: inline-block;
  list-style: none;
}
.corgis li{
  float: left;
}
#Layer_1{
  display: none;
}
.desc{
  color: #ba8058;
  margin: 0 0 0 45px;
}
.body{
  fill: #525952;
}
.nose_and_eyes{
  fill:#2D3339;
}
.brows{
  fill:#DA8058;
}
.white{
  fill:#FBFEFF;
}
.Sable{ 
  fill:rgb(183, 139, 95);
}
.Fawn{ 
  color: rgb(226, 162, 122);
}
.Red{ 
  color: rgb(124, 71, 38);
}
.Stone{ 
  color: rgb(77, 84, 89);
}
@media (min-width: 425px){
  h3{
    display: none;
  }
  .st1{
    display: inline;
  }
}